{{- define "ffc-helm-library.deployment.tpl" -}}
{{- $requiredMsg := include "ffc-helm-library.default-check-required-msg" . -}}
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ required (printf $requiredMsg "name") .Values.name | quote }}
  namespace: {{ required (printf $requiredMsg "namespace") .Values.namespace | quote }}
  labels:
    {{- include "ffc-helm-library.labels" . | nindent 4 }}
spec:
  replicas: {{ required (printf $requiredMsg "deployment.replicas") .Values.deployment.replicas | quote }}
  minReadySeconds: {{ required (printf $requiredMsg "deployment.minReadySeconds") .Values.deployment.minReadySeconds }}
  strategy: {}
  selector:
    matchLabels:
      {{- include "ffc-helm-library.selector-labels" . | nindent 6 }}
  template:
    metadata:
      namespace: {{ required (printf $requiredMsg "namespace") .Values.namespace | quote }}
      labels:
        {{- include "ffc-helm-library.labels" . | nindent 8 }}
      annotations:
        redeployOnChange: {{ required (printf $requiredMsg "deployment.redeployOnChange") .Values.deployment.redeployOnChange | quote }}
    spec:
      priorityClassName: {{ required (printf $requiredMsg "deployment.priorityClassName") .Values.deployment.priorityClassName | quote }}
      restartPolicy: {{ required (printf $requiredMsg "deployment.restartPolicy") .Values.deployment.restartPolicy | quote }}
      {{- if .Values.deployment.imagePullSecret }}
      imagePullSecrets:
      - name: {{ required (printf $requiredMsg "deployment.imagePullSecret") .Values.deployment.imagePullSecret| quote }}
      {{- end }}
      securityContext:
        fsGroup: {{ required (printf $requiredMsg "deployment.runAsUser") .Values.deployment.runAsUser }}
        runAsUser: {{ required (printf $requiredMsg "deployment.runAsUser") .Values.deployment.runAsUser }}
        runAsNonRoot: {{ required (printf $requiredMsg "deployment.runAsNonRoot") .Values.deployment.runAsNonRoot }}
      containers:
      -
{{ include "ffc-helm-library.container.tpl" . | indent 8 }}
{{- end }}
{{- define "ffc-helm-library.deployment" -}}
{{- include "ffc-helm-library.util.merge" (append . "ffc-helm-library.deployment.tpl") -}}
{{- end -}}
