{{- define "ffc-helm-library.ingress.tpl" -}}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ quote .Values.name }}
  namespace: {{ quote .Values.namespace }}
  labels:
    {{- include "ffc-helm-library.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/ingress.class: {{ quote .Values.ingress.class }}
spec:
  rules:
{{- if .Values.ingress.endpoint }}
  {{- if .Values.pr }}
  - host: {{ .Values.ingress.endpoint }}-{{ .Values.pr }}.{{ .Values.ingress.server }}
  {{ else }}
  - host: {{ .Values.ingress.endpoint }}.{{ .Values.ingress.server }}
  {{- end }}
    http:
{{ else }}
  - http:
{{- end }}
      paths:
      - path: /?(.*)
        backend:
          serviceName: {{ quote .Values.name }}
          servicePort: {{ .Values.container.port }}
{{- end }}
{{- define "ffc-helm-library.ingress" -}}
{{- include "ffc-helm-library.util.merge" (append . "ffc-helm-library.ingress.tpl") -}}
{{- end -}}

